/* Основные настройки */

body {
  background-color: rgba(44, 117, 228, 0.15);
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  user-select: none;
  overflow: hidden;
}

::-webkit-scrollbar {
  visibility: hidden;
}

@font-face 
{
  font-family: NickNameFont;
  src: url(./assets/Fonts/Nick.otf);
}

@font-face 
{
  font-family: MainTextFont;
  src: url(./assets/Fonts/Mess.otf);
}

.main_box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.chat_box {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

/* Настройки чата */

.container {
  margin: 0px 7px 0px 5px;
}

.container:first-child {
  margin-top: 3px;
}

.nickname {
  color: rgb(49, 145, 180);
  font: 400 18px 'Consolas';
  text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}

.message {
  margin-left: -7px;
  font: 400 14px 'MainTextFont';
  color: rgb(241, 241, 241);
  text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}

.donate_nickname {
  font: 700 14px 'MainTextFont';
  color: rgb(73, 233, 24);
}

.donate_amount {
  color: rgb(73, 233, 24);
}

.maintext_green {
  font: 700 14px 'MainTextFont';
  color: rgb(73, 233, 24);
}

.maintext_blue {
  font: 700 14px 'MainTextFont';
  color: rgb(51, 164, 206);
}

/* Подвал с отображением зрителей и кол-ва подписчиков */

.footer {
  position: absolute;
  bottom: 0px;
  height: 26px;
  width: 100%;
}

.footer_content {
  position: absolute;
  top: 5px;
  right: 5px;
}

.footer_image {
  float: left;
  width: 16px;
  height: 16px;
  background: url(./assets/twitchtv.png);
}

.footer_text {
  color: rgb(100, 65, 165);
  float: left;
  font: 400 16px 'Consolas';
  margin: -1px 7px 0px 0px;
  text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}